Magic 271485
Revision Verdi_V-2023.12-SP2-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 1080 31 2560 1369 453 402

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/hsh/cocotb/cmss_top/dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 10216381.361714 10398447.704894
cursor 10265000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 31

; rename signal list
; addRenameSig new_name org_name
activeDirFile "" "/home/hsh/cocotb/cmss_top/dump.fsdb"

addRenameSig "/CMSS_TOP_WRAPPER/u_cmss/d2h_req_if/tx_header/req_header.address[51:6]" "/CMSS_TOP_WRAPPER/u_cmss/d2h_req_if/tx_header/req_header.address[51:6]"

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/CMSS_TOP_WRAPPER/u_cmss/d2h_req_if/tx_header/req_header.cqid[11:0]" "/CMSS_TOP_WRAPPER/u_cmss/d2h_req_if/tx_header/req_header.cqid[11:0]"

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/CMSS_TOP_WRAPPER/u_cmss/d2h_req_if/tx_header/req_header.opcode[4:0]" "/CMSS_TOP_WRAPPER/u_cmss/d2h_req_if/tx_header/req_header.opcode[4:0]"

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G18"
addSubGroup "d2h_req_if(tx_header)"
activeDirFile "" "/home/hsh/cocotb/cmss_top/dump.fsdb"
addSignal -h 15 /CMSS_TOP_WRAPPER/u_cmss/u_cache/u_d2h_req_ctrl/d2h_req_if/req_is_valid
addSignal -expanded -h 15 -holdScope req_header
addSignal -h 15 -UNSIGNED -HEX /CMSS_TOP_WRAPPER/u_cmss/d2h_req_if/tx_header/req_header.address[51:6]
addSignal -h 15 -UNSIGNED -HEX -holdScope req_header.cqid[11:0]
addSignal -h 15 -UNSIGNED -holdScope req_header.opcode[4:0]
addSubGroup "h2d_rsp_if(rx)"
addSignal -h 15 -UNSIGNED -HEX /CMSS_TOP_WRAPPER/u_cmss/u_cache/u_h2d_rsp_ctrl/h2d_rsp_if/rsp_rxcrd_protocol_id[3:0]
addSignal -h 15 -holdScope rsp_is_valid
addSignal -expanded -h 15 -holdScope rsp_header
addSignal -h 15 -UNSIGNED -HEX -holdScope rsp_header.rsp_data[11:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rsp_header.cqid[11:0]
addSignal -h 15 -UNSIGNED -holdScope rsp_header.opcode[3:0]
endSubGroup "h2d_rsp_if(rx)"
endSubGroup "d2h_req_if(tx_header)"
addGroup "data_if(rx)"
addSignal -h 15 /CMSS_TOP_WRAPPER/u_cmss/u_cxl/u_d2h_data/data_if/data_is_valid
addSignal -h 15 -UNSIGNED -HEX -holdScope data_header.uqid[11:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope data_body[511:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope data_byte_enable[63:0]
addGroup "h2d_data_if(rx)"
addSignal -h 15 /CMSS_TOP_WRAPPER/u_cmss/u_cache/u_h2d_data_ctrl/h2d_data_if/data_is_valid
addSignal -h 15 -UNSIGNED -HEX -holdScope data_protocol_id[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope data_vc_id[3:0]
addSignal -h 15 -holdScope data_shared_credit
addSignal -h 15 -holdScope data_header
addSignal -h 15 -UNSIGNED -HEX -holdScope data_body[511:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope data_byte_enable[63:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope data_parity[7:0]
addSignal -h 15 -holdScope data_eop
addSignal -h 15 -holdScope data_cmd_parity
addSignal -h 15 -holdScope data_block
addGroup "G21"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

